<!DOCTYPE html>
<html lang="en" ng-app="playlist">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DJ COLOC</title>
  
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
  <script type="text/javascript" src="/js/playlist.js"></script>

</head>
<body ng-controller="PlaylistCtrl">
<div id="dz-root"></div>

<div class="row">
  <h1>DJCOLOC</h1>

  <p>Vote pour le prochain morceau, ou rajoute-en un dans la liste</p>
</div>

<form id="searchForm">
  <div class="row collapse">
    <div class="small-9 columns">
      <input id="search" type="text" placeholder="Ajouter un morceau"/>
    </div>
    <div class="small-3 columns">
      <input type="submit" value="Rechercher" class="button postfix"/>
    </div>
  </div>
</form>

<div class="row">
  <h2 id="title">Playlist en cours</h2>
</div>

<ul id="results">
  <li ng-repeat="track in playlist | orderBy:'score':true" class="row track">
    <div class="small-12 columns">

      <!-- Vote button -->
      <a class="button right" ng-click="vote(track)">
        {{ voteButtonText() }}
      </a>

      <span ng-if="isPlaylist()">{{ track.score }}</span>

      <em>{{ track.artist }}</em>
      <strong>{{ track.title }}</strong>

    </div>
  </li>
</ul>

</body>
</html>